.deck {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
  margin: 0 auto 3vw auto;
}

.container {
  margin: auto;
  text-align: center;
  font-size: larger;
  width: fit-content;
}

.reset {
  padding: 2vw 5vw;
  margin: 3vw;
  background-color: transparent;
  border: 1px red solid;
  cursor: pointer;
  font-size: larger;
}

.reset:hover {
  border: 2px red solid;
}
